.main_content {
    width: 70%;
    margin-top: 50px;
}
.btn {
    width: 200px;
    border-radius: 0%;
    background-color: lightgray;
    font-size: 15px;
    font-weight: 500;
}
.image_align {
    height: 50px;
    width: 80px;
}
.table {
    text-align: center;
}
